.Home-Header {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.user-button {
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: #ffffffff;
    cursor: pointer;
}